node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test output
gasReporterOutput.json
