@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@300;500;700&display=swap');

@theme {
  --color-nate-dark: #0a0a0f;
  --color-nate-green: #00ff41;
  --color-nate-blue: #00f3ff;
  --color-nate-red: #ff0033;
  --color-nate-card: #1a1a24;

  --font-display: "Orbitron", sans-serif;
  --font-body: "Rajdhani", sans-serif;
}


body {
  background-color: #030305;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle at 20% 30%, rgba(0, 243, 255, 0.05) 0%, transparent 50%),
    radial-gradient(circle at 80% 70%, rgba(255, 0, 51, 0.03) 0%, transparent 50%);
  z-index: -1;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  z-index: 10;
  opacity: 0.1;
}

@keyframes pulse-glow {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.3;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 4s ease-in-out infinite;
}