@import "tailwindcss";

@theme {
  --color-nate-dark: #0a0a0f;
  --color-nate-green: #00ff41;
  --color-nate-blue: #00f3ff;
  --color-nate-red: #ff0033;
  --color-nate-card: #1a1a24;

  --font-display: "Orbitron", sans-serif;
  --font-body: "Rajdhani", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@300;500;700&display=swap');

body {
  background-color: #0a0a0f;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}