@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@300;500;700&display=swap');

body {
  background-color: #0a0a0f;
  color: white;
  font-family: 'Rajdhani', sans-serif;
}